[Database_Access]
host=localhost
user=smartform_user
password=your_password_here
database=smartform
default-character-set=utf8mb4

[smartform]
host=localhost
user=smartform_user
password=your_password_here
database=smartform
default-character-set=utf8mb4