[Database_Access]
host=localhost
user=root
password=
database=coolwed1_wp364
default-character-set=utf8mb4

[coolwed1_wp364]
host=localhost
user=root
password=
database=coolwed1_wp364
default-character-set=utf8mb4
