[Database_Access]
host=localhost
user=smartform
password=your_password
database=coolwed1_wp364
default-character-set=utf8mb4

[coolwed1_wp364]
host=localhost
user=smartform_user
password=your_password_here
database=coolwed1_wp364
default-character-set=utf8mb4
